sim:
 env:
  configurations:
   env-current: ${currentEnv:LOCAL}
   env-name: ${envName:test}
   env-url: ${envUrl:http://localhost:8080}

#server:
# tomcat:
#  accesslog:
#   directory: ${user.dir}/shared/sim/logs
#   suffix: ".log"
#   prefix: access_log
#   enabled: true
#   pattern: "%t %a %r %s (%D ms)"

management:
 endpoint:
  logfile:
   enabled: true
   external-file: ${user.dir}/shared/sim/logs/smpp/simApp.log

logging:
 file:
  path: ${user.dir}/shared/sim/logs/smpp
  name: simApp.log